
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Minecraft.index</title>
      <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" type="image/png" href="../static/img/favicon.png"></head>
<body>

   
</a>

    
     <div class="auth-wrapper">
    <h2>Sign Up</h2>

    <form method="POST">
        <input name="email" placeholder="Email" required>
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button>Create Account</button>
    </form>

    {% if error %}
    <div class="auth-error">{{ error }}</div>
    {% endif %}

    <p>Already have an account? <a href="/login">Log In</a></p>
</div>



    


</html>
